In [1]:
import pandas as pd

# Let's say we have thermometer measurements but we discover they all
# had an error of measuring 1 degree too low, we can correct like this.

temperatures = pd.DataFrame(data={
  "north": [15, 10, 12, 19, -5],
  "east": [18, 12, 20, 10, 7],
  "south": [23, 22, 12, 27, 11],
  "west": [17, 13, 19, 8, 4],
})

def add1(col):
  return col + 1

temperatures.apply(add1)

   north  east  south  west
0     16    19     24    18
1     11    13     23    14
2     13    21     13    20
3     20    11     28     9
4     -4     8     12     5

In [2]:
import pandas as pd

# Let's say we have thermometer measurements and we want to discover which
# measurement was closest to the average for each region.

temperatures = pd.DataFrame(data={
  "north": [15, 10, 12, 19, -5],
  "east": [18, 12, 20, 10, 7],
  "south": [23, 22, 12, 27, 11],
  "west": [17, 13, 19, 8, 4],
})

def get_closest_to_average(col):
  average = col.mean()
  smallest_diff = 1000
  for measurement in col:
    if abs(average - measurement) < smallest_diff:
      smallest_diff = abs(average - measurement)
      closest = measurement      
  return closest

temperatures.apply(get_closest_to_average, axis=0)

north    10
east     12
south    22
west     13
dtype: int64

In [3]:
import pandas as pd

# Let's say we have thermometer measurements where each row is a moment in time.
# We want to get the lowest and highest measurement for each moment.

temperatures = pd.DataFrame(data={
  "north": [15, 10, 12, 19, -5],
  "east": [18, 12, 20, 10, 7],
  "south": [23, 22, 12, 27, 11],
  "west": [17, 13, 19, 8, 4],
})

def get_min_and_max(row):
  return pd.Series([row.max(), row.min()])

display(temperatures)
temperatures.apply(get_min_and_max, axis=1)

   north  east  south  west
0     15    18     23    17
1     10    12     22    13
2     12    20     12    19
3     19    10     27     8
4     -5     7     11     4

    0   1
0  23  15
1  22  10
2  20  12
3  27   8
4  11  -5

In [4]:
# Named lambda function

import pandas as pd

# Let's say we have thermometer measurements but we discover they all
# had an error of measuring 3 degrees too low, we can correct like this.

temperatures = pd.DataFrame(data={
  "north": [15, 10, 12, 19, -5],
  "east": [18, 12, 20, 10, 7],
  "south": [23, 22, 12, 27, 11],
  "west": [17, 13, 19, 8, 4],
})

add3 = lambda temp: temp + 3

temperatures.apply(add3)

   north  east  south  west
0     18    21     26    20
1     13    15     25    16
2     15    23     15    22
3     22    13     30    11
4     -2    10     14     7

In [5]:
# Anonymous inline lambda function

import pandas as pd

# Let's say we have thermometer measurements but we discover they all
# had an error of measuring 2 degree too high, we can correct like this.

temperatures = pd.DataFrame(data={
  "north": [15, 10, 12, 19, -5],
  "east": [18, 12, 20, 10, 7],
  "south": [23, 22, 12, 27, 11],
  "west": [17, 13, 19, 8, 4],
})

temperatures.apply(lambda temp: temp - 2)

   north  east  south  west
0     13    16     21    15
1      8    10     20    11
2     10    18     10    17
3     17     8     25     6
4     -7     5      9     2

In [6]:
# Use builtin function

import pandas as pd

# Let's say we have thermometer measurements and we want to round them.

temperatures = pd.DataFrame(data={
  "north": [15.12, 10.32, 12.44, 19.01, -5],
  "east": [18, 12.44, 20.65, 10.67, 7.99],
  "south": [23.12, 22.5346, 12.124, 27.2356, 11.19],
  "west": [17.2534, 13.2534, 19.3645, 8.2374, 4.83472],
})

temperatures.apply(round)

   north  east  south  west
0   15.0  18.0   23.0  17.0
1   10.0  12.0   23.0  13.0
2   12.0  21.0   12.0  19.0
3   19.0  11.0   27.0   8.0
4   -5.0   8.0   11.0   5.0